<div [@fade]="true">
  <div class="container">
    <h2 class="text-center">What are our Values?</h2>
  </div>

  <div class="row tileBox values" [class.on]="!loading">
    <div class="col-12 col-md-6 col-xl-3 tile" *ngFor="let value of values" [class.hovered]="hovered === value.title" (mouseenter)="setHover(value.title)" (mouseleave)="setHover('')" (click)="toggleHover(value.title)">
      <img [src]="value.image" [alt]="value.title">

      <div class="overlay"></div>

      <div class="tileInfo">
        <h3>{{ value.title }}</h3>

        <p [@topDown]="true" *ngIf="hovered === value.title">{{ value.headline }}</p>
      </div>
    </div>
  </div>
</div>
