<div [@fade]="true">
  <div [@fade]="true" *ngIf="!loading && !error.length">
    <section class="dark fixed fullHeight hero">
      <parallax-bg [images]="heroImages"></parallax-bg>

      <div class="overlay"></div>

      <div class="title">
        <h1>{{ post.title.rendered }}</h1>

        <h4>{{ post.date | date: 'mediumDate' }}<span class="d-none d-md-inline-block">&nbsp; | &nbsp;</span><hr class="d-md-none"><a (click)="goToAuthor(post)">{{ getAuthor(post) }}</a></h4>
      </div>
    </section>

    <scroll-arrow></scroll-arrow>

    <section>
      <div class="container p-4">
        <div class="row">
          <div class="blogContent col-12 col-lg-9">
            <div [innerHtml]="safeHtml"></div>
          </div>

          <div class="blogSidebar col-lg-3">
            <h5>Recent Posts</h5>

            <div class="blogList">
              <div class="blogPost" *ngFor="let blog of blogs | slice:0:5">
                <p><a routerLink="/resources/blog/{{ blog.slug }}">{{ blog.title.rendered }}
                    <br><span class="blogDate">{{ blog.date | date: 'mediumDate' }}</span></a></p>
              </div>
            </div>

            <h5>Categories</h5>

            <div class="categoryList">
              <p *ngFor="let cat of categories"><a (click)="goToCategory(cat.name)">{{ cat.name }}</a></p>
              <p><a (click)="goToCategory()">View All</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section *ngIf="loading && !error.length">
    <div class="container py-5">
      <mat-spinner class="mx-auto my-5"></mat-spinner>
    </div>
  </section>
  
  <section [@topDown]="true" *ngIf="error.length">
    <div class="container">
      <p>{{ error }}</p>
    </div>
  </section>
</div>
