<div class="row">
  <div class="col-12 col-md-6 order-md-last text-md-right">
    <button class="autoBtn my-3" (click)="new()">New Teammate</button>
  </div>

  <div class="col-12 col-md-6 order-md-first">
    <div class="inputGroup">
      <input type="text" name="search" class="form-control" autocomplete="off" placeholder="Search" (keyup)="updateFilter($event.target.value)">
    </div>
  </div>
</div>

<div *ngIf="loading && !error.length">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="text-center" [@topDown]="true" *ngIf="error.length > 0">
  <p>{{ error }}</p>
</div>

<div class="tableContainer">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Primary Image Column -->
    <ng-container matColumnDef="primary_image">
      <th mat-header-cell *matHeaderCellDef> Primary Image </th>
      <td mat-cell *matCellDef="let row"> <img [src]="getImagePath(row.primary_image)" [alt]="getImageAlt(row.primary_image)" width="100"> </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let row"> {{ row.first_name }} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let row"> {{ row.last_name }} </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Edit </th>
      <td mat-cell *matCellDef="let row" class="text-center"> <button class="btn" (click)="edit(row)"><i class="fa fa-edit fa-lg"></i></button> </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Delete </th>
      <td mat-cell *matCellDef="let row" class="text-center"> <button class="btn" (click)="delete(row)"><i class="fa fa-trash-o fa-lg"></i></button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator [pageSize]="12" [pageSizeOptions]="[4, 12, 24, 48]"></mat-paginator>
