<div class="service" [@fade]="true">
  <section class="dark fixed fullHeight hero appWebDevelopment">
    <div class="overlay"></div>

    <h1>App &amp; Web Development
      <br><span class="subhead">Transformative digital experiences. Seamless event&nbsp;integration.</span></h1>
  </section>

  <section class="dark py-5">
    <div class="container">
      <h4 class="text-center">Our in-house digital services team leverages technology to transform the event experience for clients and guests alike. Discover how technology can enhance your communication, training, workflow, and sustainment&nbsp;efforts.</h4>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>What We Do</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-what-we-do.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p><strong>autom&auml;tik App and Web Development</strong> exists to solve complex challenges for our clients with straight-forward and elegant technology solutions. Our process is simple: seek to understand the unique challenges faced by our clients, and work with them to create a right-sized plan to turn those opportunities into success! Our satisfied clients include prestigious organizations like Jaguar/Land Rover North America and Sub-Zero/Wolf appliances among many, <em>many</em>&nbsp;others.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Who We Are</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Our in-house technology team consists of a group of professionals that each bring to the table 10+ years experience in their respective fields. Our internal team of seasoned veterans have weathered plenty of storms, but when you hire autom&auml;tik, you&rsquo;re also tapping into a network of world-class developer partners that are just as passionate about digital as we are. For projects that demand teams of 20, 50 or even 100+ developers, we have a network of world-class development partners that let us scale our solutions to match the requirements of a project of any size; regional, national or even&nbsp;global.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Web-based Solutions</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-web-solutions.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Smartphones have put access to the internet at the fingertips of an estimated 2+ billion people across the globe. It&rsquo;s not enough to merely have a web presence anymore. Users expect web content to come to life before their eyes, and create memorable experiences in just a few seconds. That&rsquo;s where we&rsquo;re ready to help! We consider a range of important factors when designing for web so you don&rsquo;t have to. Interface design, load times, data usage and calls to action just to name a few. Our experienced team can take dull, text-heavy content and transform it before your eyes into a high-impact, media-rich experience that will leave your audience craving more. Our responsive web solutions will dazzle on a screen of any size, and we&rsquo;ll make sure the content looks great no matter how people are viewing&nbsp;it.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Mobile Applications</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-mobile-applications.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>The iOS app store currently houses 2.2 million apps. We want your app to stand out from the crowd. Our UI experts will help you design a thoughtful interface that &lsquo;just works,&rsquo; while our backend developers will make sure that user data and content are safe and secure, whether on the device or in the cloud. We can tap into powerful user analytics platforms to tell you where your app is winning, and where it&rsquo;s ready for next-level tweaks. Track adoption through custom reporting interfaces that go to work for you, and tell you what you&rsquo;re dying to know about how people are using your application. Long story short, we&rsquo;re ready to make your mobile app dreams come true, no matter how big they might&nbsp;be!</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Everything Else</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-everything-else.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>At autom&auml;tik, we have the passion, corporate intelligence, and development experience to make digital content come to life. It&rsquo;s our desire to use technology to turn run-of-the-mill content into a memorable experience for your users. From cutting-edge technology, like Apple&rsquo;s AR Kit, to time tested staples like web-based training modules, we treat every project as a new opportunity to scale our &lsquo;particular set of skills&rsquo; to ensure that our solutions meet your needs on time, and on&nbsp;budget!</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Our existing portfolio of work includes:</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-existing-portfolio.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <ul>
            <li>Interactive job-aids for supporting employees/contractors</li>
            <li>Learning &amp; reference resources with custom, interactive interfaces</li>
            <li>Augmented Reality campaigns for marketing, training, or reference</li>
            <li>360&deg; virtual presence web applications</li>
            <li>Event or meeting registration websites</li>
            <li>Multi-source documentation reporting/processing</li>
            <li>Private or public iOS or Android applications</li>
            <li>Web-based training modules</li>
            <li>Interactive PDF documents and forms</li>
            <li>Comprehensive field surveys and reporting</li>
            <li>SEO optimization</li>
            <li>Social media integration</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="dark fixed hero appWebDevelopment" (mouseover)="stopCarousel()" (mouseleave)="startCarousel()">
    <div class="overlay"></div>

    <div class="container" (touchstart)="setXStart($event)" (touchend)="setXEnd($event)">
      <h2>Why autom&auml;tik?</h2>

      <div class="row">
        <div class="col-1 d-none d-md-flex align-items-center justify-content-center" (click)="prevSlide()">
          <fa-icon [icon]="['fas', 'chevron-left']" size="2x"></fa-icon>
        </div>

        <div class="col-12 col-md-10">
          <div class="carousel" #carousel>
            <div class="slide" *ngFor="let item of slides; let i = index" [class.active]="i === currentSlide" [class.left]="i === currentSlide - 1 || (i === dataLength && currentSlide === 0)" [class.right]="i === currentSlide + 1 || (i === 0 && currentSlide === dataLength)" #slides>
              <h3 [innerHtml]="item.heading"></h3>

              <p [innerHtml]="item.copy"></p>
            </div>
          </div>

          <div class="pager">
            <fa-icon [icon]="['fas', 'circle']" size="sm" *ngFor="let item of slides; let i = index" [class.active]="i === currentSlide" (click)="setSlide(i)"></fa-icon>
          </div>
        </div>

        <div class="col-1 d-none d-md-flex align-items-center justify-content-center" (click)="nextSlide()">
          <fa-icon [icon]="['fas', 'chevron-right']" size="2x"></fa-icon>
        </div>
      </div>
    </div>
  </section>

  <div class="scrollArrow" [@fade]="true" *ngIf="atTop" (click)="scrollPage()">
    <div class="arrowDown"></div>
  </div>
</div>
