<div class="d-flex justify-content-between mb-3">
  <h2 mat-dialog-title *ngIf="new">New Article</h2>
  <h2 mat-dialog-title *ngIf="!new">Edit Article</h2>
  <button mat-dialog-close><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
</div>

<form #articleForm="ngForm" novalidate>
  <mat-dialog-content>
    <div class="dialogScroll" #dialogScroll>
      <div *ngIf="!success">
        <div class="inputGroup" [class.nope]="invalid || (url.errors && (url.touched || submitted))">
          <label for="url"><span *ngIf="!hasData">Article/Youtube </span>URL</label>
          <input type="text" class="form-control" name="url" #url="ngModel" autocomplete="off" required [disabled]="hasData" [(ngModel)]="article.url" (ngModelChange)="fetchData()">
          <div class="errorMsg" [@topDown]="true" *ngIf="invalid || (url.errors && (url.touched || submitted))">
            <p>Please enter a valid article/Youtube URL or upload a new video below</p>
          </div>
        </div>

        <div class="text-center" *ngIf="!dataLoading && !hasData">
          <h3>&mdash; OR &mdash;</h3>

          <button class="autoBtn" (click)="chooseVideo()">Upload New Video</button>
        </div>
  
        <div class="container py-5" *ngIf="dataLoading">
          <mat-spinner class="mx-auto my-5"></mat-spinner>
        </div>

        <div *ngIf="hasData && !dataLoading">
          <news-article [article]="article"></news-article>
        </div>

        <div [@fade]="true" *ngIf="manualEdit">
          <div class="inputGroup" [class.nope]="title.errors && (title.touched || submitted)">
            <label for="title">Title*</label>
            <input type="text" class="form-control" name="title" #title="ngModel" autocomplete="off" required [(ngModel)]="article.title">
            <div class="errorMsg" [@topDown]="true" *ngIf="title.errors && (title.touched || submitted)">
              <p *ngIf="title.errors.required">Title is required</p>
            </div>
          </div>

          <div class="inputGroup" [class.nope]="description.errors && (description.touched || submitted)">
            <label for="description">Description*</label>
            <textarea class="form-control" name="description" #description="ngModel" autocomplete="off" rows="5" required [(ngModel)]="article.description"></textarea>
            <div class="errorMsg" [@topDown]="true" *ngIf="description.errors && (description.touched || submitted)">
              <p *ngIf="description.errors.required">Description is required</p>
            </div>
          </div>

          <div class="inputGroup" [class.nope]="image.errors && submitted">
            <label for="image">Image*</label>
            <input type="text" class="form-control" name="image" #image="ngModel" autocomplete="off" required [(ngModel)]="article.image" (click)="chooseImage('image')">
            <div class="errorMsg" [@topDown]="true" *ngIf="image.errors && submitted">
              <p *ngIf="image.errors.required">Image is required</p>
            </div>
          </div>

          <div class="inputGroup" [class.nope]="date.errors && submitted">
            <label for="date">Published Date*</label>
            <input type="text" class="form-control" name="date" #date="ngModel" autocomplete="off" required [(ngModel)]="article.date" [matDatepicker]="myDatepicker" (focus)="myDatepicker.open()" (click)="myDatepicker.open()">
            <mat-datepicker #myDatepicker></mat-datepicker>
            <div class="errorMsg" [@topDown]="true" *ngIf="date.errors && submitted">
              <p *ngIf="date.errors.required">Please select a date</p>
            </div>
          </div>

          <div class="inputGroup" [class.nope]="source.errors && (source.touched || submitted)">
            <label for="source">Source*</label>
            <input type="text" class="form-control" name="source" #source="ngModel" autocomplete="off" required [(ngModel)]="article.source">
            <div class="errorMsg" [@topDown]="true" *ngIf="source.errors && (source.touched || submitted)">
              <p *ngIf="source.errors.required">Source is required</p>
            </div>
          </div>

          <p class="disclaimer text-center">* Required field</p>
        </div>

        <div class="errorMsg text-center" [@topDown]="true" *ngIf="error.length">
          <p>{{ error }}</p>
        </div>
      </div>

      <div *ngIf="success">
        <div class="text-center">
          <h3>Success!</h3>

          <p>This article has been <span *ngIf="new">added</span><span *ngIf="!new">updated</span>.</p>
        </div>

        <news-article [article]="article"></news-article>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="autoBtn secondary" *ngIf="!success" mat-dialog-close>Cancel</button>
    <button class="autoBtn secondary" *ngIf="!success && hasData && !manualEdit" (click)="editData()">Edit Info</button>
    <button class="autoBtn" *ngIf="!success" [disabled]="loading || !hasData" (click)="submit(article, articleForm.valid)">
      <span *ngIf="!loading">Submit</span>
      <span *ngIf="loading"><mat-spinner class="mx-auto" [diameter]="20" [strokeWidth]="3"></mat-spinner></span>
    </button>
    <button class="autoBtn secondary" *ngIf="success && new" (click)="addAnother()">Add Another</button>
    <button class="autoBtn secondary" *ngIf="success && !new" (click)="editAgain()">Edit Again</button>
    <button class="autoBtn" *ngIf="success" mat-dialog-close>Done</button>
  </mat-dialog-actions>
</form>
  