<div class="service" [@fade]="true">
  <section class="dark fixed fullHeight hero eventProduction">
    <div class="overlay"></div>

    <h1>Event Production
      <br><span class="subhead">Let&rsquo;s elevate your brand&nbsp;experience.</span></h1>
  </section>

  <section class="dark py-5">
    <div class="container">
      <h4 class="text-center">Our production team brings high-impact events to life. Our two-story warehouse is stocked with the latest in AV and staging collateral. Contact our Production team to discuss your needs. We&rsquo;ll be happy to recommend a right-sized solution based on your timeline and&nbsp;budget.</h4>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>At autom&auml;tik, we create EXPERIENCES (not&nbsp;just&nbsp;events)</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/event-production-experiences.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Through two decades of helping some of the most recognizable brands in the world produce impactful large events, our Event Production crew has the experience and expertise to transform your next event into an unforgettable&nbsp;EXPERIENCE.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Form Follows Function</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/event-production-form-function.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>We never start with a set of assumptions&mdash;we start with YOU. We let the <strong>form</strong> of your event take shape based on the <strong>function</strong> you need. What kind of environment do you want to create? Will you have videos? Displays? Multiple keynote speakers? Breakout spaces? Our highly experienced team will consult with you from the beginning and create a customized production plan based on what YOU&nbsp;need.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Turn-key or Customized</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/event-production-turnkey.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>If you&rsquo;re trying to simplify your scope, we can offer turn-key solutions&mdash;video monitor packages, basic audio PA kits, simple LED up-lighting, etc. Alternatively, we can also sit down and create something completely customized to meet your vision once we know more about you and what your event is meant to achieve. We&rsquo;re as comfortable supplying gear for small, 10-15 person groups as we are transforming acres of open space into a show-stopping environment for hundreds of&nbsp;people.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>A/V Staff Who Are Actually Pleasant to Talk&nbsp;To</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/event-production-av-staff.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>If it&rsquo;s production crew members you are looking for, our in-house team is comprised of a director, managers, technicians and support&mdash;each with the same shared desire of attention to detail and venue transformation. We pride ourselves on being able to take just about any space/venue/room and creating a before/after comparison you&rsquo;ll have to see to&nbsp;believe.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Low-cost Equipment Rental</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/event-production-equipment-rental.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>We have over 8,000 square feet of indoor warehouse space filled with the latest in A/V gear, display hardware, staging, and other production equipment. Our inventory is clean, well-kept and, unlike many larger rental houses, we have the ability to operate in more &ldquo;boutique&rdquo; fashion. We&rsquo;ll have the time to ask questions, work within your budget, and find the best solution for your needs&mdash;you will be our main focus while we serve you and tend to your experience and you&rsquo;ll have one point of contact for the duration of your show. If things change along the way, as they typically do, we pride ourselves on our ability to &ldquo;flex&rdquo; into a new plan. And because we own all of our equipment outright, we can offer costs that are significantly below typical industry rates. If you&rsquo;re looking to rent gear in a way that&rsquo;s highly personal and extremely affordable, look no&nbsp;further!</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Visuals That Make A&nbsp;Difference</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/event-production-visuals.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>In today&rsquo;s event world, impactful &ldquo;visuals&rdquo; are critically important. A wedding may need a highlight reel of the bride and groom through the years. A launch meeting may need an energetic kick-off video or an emotional closing video. Your charity event may need to share documentary stories to evoke a response from your audience. Your worship service may need music and lyrics displayed to the congregation. We&rsquo;re adept at helping you engage your audience in every one of those environments&mdash;and scores more. No matter your need, our team&rsquo;s got you&nbsp;covered.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="dark fixed hero eventProduction">
    <div class="overlay"></div>

    <div class="container">
      <h2>Why autom&auml;tik?</h2>
    </div>

    <app-carousel [slides]="slides"></app-carousel>
  </section>

  <div class="scrollArrow" [@fade]="true" *ngIf="atTop" (click)="scrollPage()">
    <div class="arrowDown"></div>
  </div>
</div>
