<div class="service" [@fade]="true">
  <section class="dark fixed fullHeight hero videoProduction">
    <div class="overlay"></div>

    <h1>Video Production
      <br><span class="subhead">Professional video and audio production&nbsp;services.</span></h1>
  </section>

  <section class="dark py-5">
    <div class="container">
      <h4 class="text-center">From conception to the finished product, the autom&auml;tik video services department delivers outstanding, hassle-free&nbsp;results.</h4>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Pre-production</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Exceptional video productions require extensive upfront planning. Let our video production team do the heavy lifting. We&rsquo;ll manage all the upfront touchpoints that usually give you gray hairs: scripting, storyboarding, location scouting, permitting, talent and production staffing, camera and equipment rentals, lighting, makeup, catering, and overall project management communications. We eat this stuff for breakfast and we&rsquo;ll put together a buttoned-down plan for&nbsp;success.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>On-site Videography</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Our on-site videography expertise ranges from consumer marketing videos, executive interviews, consumer focus groups, vehicle product testing, spy cam footage... and everything in between. If it&rsquo;s an on-site video you need, we&rsquo;ve been there, filmed that. We've worked with massive budgets and shoestring budgets. Regardless of where you&rsquo;re at, we&rsquo;ll guarantee an excellent&nbsp;result.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Post Production</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Thanks to our twin editing bays, our post production is handled in house. We use industry-standard editing software and powerful rendering hardware with backups. We also love company, so come on in and review content cuts in real time with our friendly editors. All of this translates into lean, efficient production of the highest&nbsp;quality.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Motion Graphic Design</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Do you need a video but you&rsquo;re short on supporting video assets? This looks like a job for a motion graphics studio. Hey, we do that too! Utilizing industry-standard animation software for both 2D and 3D animation, our expert animators develop compelling videos that capture attention and drive your message&nbsp;home.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Opening videos</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Nothing kickstarts an event like a powerful opening video. And, contrary to popular belief, they don&rsquo;t have to require a Hollywood-level budget. Give us a call... we&rsquo;ve got a few tricks up our sleeve. Based on your unique scope and vision, we&rsquo;ll suggest a dynamic opening video solution to fit any timeline or&nbsp;budget.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Closing videos</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Closing videos are the perfect way to recap your event and inspire action. They can be fun loving, thought provoking, or tear invoking. Based on your desired outcome, our video production team is there for you. We&rsquo;ll script and produce an amazing video to close your next event with&nbsp;style.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Training videos</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Let&rsquo;s let you in on a little secret: Training videos don&rsquo;t have to suck. In fact, they can become downright viral (in a good way). Our editorial and video team have produced a series of on-point and entertaining training videos for some of the largest and most respected automotive brands in the world. We&rsquo;ve managed best practice and &ldquo;fail&rdquo; videos for consultative selling, management and coaching, and even branching videos for&nbsp;eLearning.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Transition videos</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Transition videos are an elegant way to fill time with value and maintain participant engagement during pre-session and break times. We&rsquo;ve run the range from countdown videos, fun &ldquo;best of social media&rdquo; brand loops, to inspiring history and heritage montages. Based on your vision and assets, we can get really&nbsp;creative.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Audio Production Recording</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Did you know that autom&auml;tik has an in-house audio production booth? Now you do. Bring your golden pipes over to our place and lay down some sick beats... or record voiceover (VO) for your next eLearning project. Either way, we&rsquo;ll produce it and deliver extremely clean, professional audio tracks to your inbox. Need a VO talent? We've got connections ranging from local talent to Hollywood&nbsp;A&#8409;listers.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="dark fixed hero videoProduction">
    <div class="overlay"></div>

    <div class="container">
      <h2>Why autom&auml;tik?</h2>
    </div>

    <app-carousel [slides]="slides"></app-carousel>
  </section>

  <div class="scrollArrow" [@fade]="true" *ngIf="atTop" (click)="scrollPage()">
    <div class="arrowDown"></div>
  </div>
</div>
