<div class="service" [@fade]="true">
  <section class="dark fixed fullHeight hero videoProduction">
    <div class="overlay"></div>

    <h1>Video Production
      <br><span class="subhead">Professional video and audio production&nbsp;services.</span></h1>
  </section>

  <section class="dark py-5">
    <div class="container">
      <h4 class="text-center">From conception to the finished product, the autom&auml;tik video services department delivers outstanding, hassle-free&nbsp;results.</h4>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Pre-production</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare ultrices nisi nec porta. Nam massa sapien, interdum sit amet fringilla eu, cursus et dolor. Sed non dui vel odio dapibus faucibus. Mauris aliquam odio vel risus faucibus tempus. Sed et odio nec nulla venenatis pharetra et vel ante. Nulla vehicula ligula ut convallis egestas. Fusce luctus efficitur purus non ultricies. Curabitur faucibus quam pulvinar risus maximus, at sagittis enim scelerisque. Sed ut gravida magna.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>On-site Videography</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare ultrices nisi nec porta. Nam massa sapien, interdum sit amet fringilla eu, cursus et dolor. Sed non dui vel odio dapibus faucibus. Mauris aliquam odio vel risus faucibus tempus. Sed et odio nec nulla venenatis pharetra et vel ante. Nulla vehicula ligula ut convallis egestas. Fusce luctus efficitur purus non ultricies. Curabitur faucibus quam pulvinar risus maximus, at sagittis enim scelerisque. Sed ut gravida magna.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Post Production</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <h3>In-house post production and rendering</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare ultrices nisi nec porta. Nam massa sapien, interdum sit amet fringilla eu, cursus et dolor. Sed non dui vel odio dapibus faucibus. Mauris aliquam odio vel risus faucibus tempus. Sed et odio nec nulla venenatis pharetra et vel ante. Nulla vehicula ligula ut convallis egestas. Fusce luctus efficitur purus non ultricies. Curabitur faucibus quam pulvinar risus maximus, at sagittis enim scelerisque. Sed ut gravida magna.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Motion Graphic Design</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare ultrices nisi nec porta. Nam massa sapien, interdum sit amet fringilla eu, cursus et dolor. Sed non dui vel odio dapibus faucibus. Mauris aliquam odio vel risus faucibus tempus. Sed et odio nec nulla venenatis pharetra et vel ante. Nulla vehicula ligula ut convallis egestas. Fusce luctus efficitur purus non ultricies. Curabitur faucibus quam pulvinar risus maximus, at sagittis enim scelerisque. Sed ut gravida magna.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Opening videos</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare ultrices nisi nec porta. Nam massa sapien, interdum sit amet fringilla eu, cursus et dolor. Sed non dui vel odio dapibus faucibus. Mauris aliquam odio vel risus faucibus tempus. Sed et odio nec nulla venenatis pharetra et vel ante. Nulla vehicula ligula ut convallis egestas. Fusce luctus efficitur purus non ultricies. Curabitur faucibus quam pulvinar risus maximus, at sagittis enim scelerisque. Sed ut gravida magna.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Closing videos</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare ultrices nisi nec porta. Nam massa sapien, interdum sit amet fringilla eu, cursus et dolor. Sed non dui vel odio dapibus faucibus. Mauris aliquam odio vel risus faucibus tempus. Sed et odio nec nulla venenatis pharetra et vel ante. Nulla vehicula ligula ut convallis egestas. Fusce luctus efficitur purus non ultricies. Curabitur faucibus quam pulvinar risus maximus, at sagittis enim scelerisque. Sed ut gravida magna.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Training videos</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare ultrices nisi nec porta. Nam massa sapien, interdum sit amet fringilla eu, cursus et dolor. Sed non dui vel odio dapibus faucibus. Mauris aliquam odio vel risus faucibus tempus. Sed et odio nec nulla venenatis pharetra et vel ante. Nulla vehicula ligula ut convallis egestas. Fusce luctus efficitur purus non ultricies. Curabitur faucibus quam pulvinar risus maximus, at sagittis enim scelerisque. Sed ut gravida magna.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Transition videos</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare ultrices nisi nec porta. Nam massa sapien, interdum sit amet fringilla eu, cursus et dolor. Sed non dui vel odio dapibus faucibus. Mauris aliquam odio vel risus faucibus tempus. Sed et odio nec nulla venenatis pharetra et vel ante. Nulla vehicula ligula ut convallis egestas. Fusce luctus efficitur purus non ultricies. Curabitur faucibus quam pulvinar risus maximus, at sagittis enim scelerisque. Sed ut gravida magna.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Audio Production Recording</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare ultrices nisi nec porta. Nam massa sapien, interdum sit amet fringilla eu, cursus et dolor. Sed non dui vel odio dapibus faucibus. Mauris aliquam odio vel risus faucibus tempus. Sed et odio nec nulla venenatis pharetra et vel ante. Nulla vehicula ligula ut convallis egestas. Fusce luctus efficitur purus non ultricies. Curabitur faucibus quam pulvinar risus maximus, at sagittis enim scelerisque. Sed ut gravida magna.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="dark fixed hero videoProduction">
    <div class="overlay"></div>

    <div class="container">
      <h2>Why autom&auml;tik?</h2>
    </div>

    <app-carousel [slides]="slides"></app-carousel>
  </section>

  <div class="scrollArrow" [@fade]="true" *ngIf="atTop" (click)="scrollPage()">
    <div class="arrowDown"></div>
  </div>
</div>
