<section [@fade]="true">
  <div class="container">
    <h1 class="text-center">Admin Images</h1>

    <div class="row">
      <div class="col-12 col-md-6 order-md-last text-md-right">
        <button class="autoBtn my-3" (click)="addNew()">New Image</button>
      </div>

      <div class="col-12 col-md-6 order-md-first adminFilter">
        <div class="inputGroup">
          <label for="search">
            <fa-icon [icon]="['fas', 'search']" size="lg" *ngIf="!filter.length"></fa-icon>
            <fa-icon [icon]="['fas', 'times']" size="lg" *ngIf="filter.length" (click)="clearFilter()"></fa-icon>
          </label>
          <input type="text" class="form-control" id="search" name="search" #search="ngModel" autocomplete="off" placeholder="Search" [(ngModel)]="filter" (ngModelChange)="updateFilter()">
        </div>
      </div>
    </div>

    <div *ngIf="!imageList.length && !error.length">
      <mat-spinner class="mx-auto my-5"></mat-spinner>
    </div>

    <div class="text-center" [@topDown]="true" *ngIf="error.length">
      <p>{{ error }}</p>
    </div>

    <div class="formDrawer" [@topDown]="true" *ngIf="new">
      <h3>Add New Image</h3>

      <div *ngIf="!success">
        <form #imageForm="ngForm" novalidate>
          <div class="inputGroup" [class.nope]="invalid || rename || (img.errors && (img.touched || submitted))">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="img" name="img" accept="image/*" #img required (change)="setImageData($event)">
              <label class="custom-file-label" for="img">{{ imageName }}</label>
            </div>
            <div class="errorMsg" [@topDown]="true" *ngIf="img.errors && (img.touched || submitted)">
              <p *ngIf="img.errors.required">Please choose an image to upload</p>
            </div>
            <div class="errorMsg" [@topDown]="true" *ngIf="rename">
              <p>Please rename image to meet standards and try again:</p>
              <ul>
                <li>All lowercase letters</li>
                <li>No special characters</li>
                <li>Dashes for spaces</li>
              </ul>
            </div>
            <div class="errorMsg" [@topDown]="true" *ngIf="invalid">
              <p>An image already exists with this file name</p>
            </div>
          </div>

          <div class="inputGroup" [class.nope]="alt.errors && (alt.touched || submitted)">
            <label for="alt">Alt Text</label>
            <input type="text" class="form-control" name="alt" #alt="ngModel" autocomplete="off" required [(ngModel)]="image.alt">
            <div class="errorMsg" [@topDown]="true" *ngIf="alt.errors && (alt.touched || submitted)">
              <p *ngIf="alt.errors.required">Alt Text is required</p>
            </div>
          </div>

          <div class="d-flex">
            <button class="autoBtn mx-0" [disabled]="loading" (click)="upload()">
              <span *ngIf="!loading">Upload</span>
              <span *ngIf="loading"><mat-spinner class="mx-auto" [diameter]="20" [strokeWidth]="3"></mat-spinner></span>
            </button>

            <button class="autoBtn secondary mx-3" (click)="cancel()">Cancel</button>
          </div>
        </form>
      </div>

      <div class="text-center" *ngIf="success">
        <h3>Success!</h3>

        <p>Your image has successfully been uploaded.</p>

        <button class="autoBtn" (click)="reset()">Upload Another</button>

        <button class="autoBtn secondary mx-3" (click)="done()">Done</button>
      </div>
    </div>

    <div class="imageSelection">
      <div class="imageBox" *ngFor="let item of imageList" (mouseenter)="select(item._id)" (mouseleave)="select('')" (click)="select(item._id)">
        <div class="image" [style.backgroundImage]="'url(' + item.path + ')'"></div>
        <div class="buttons" [@topDown]="true" *ngIf="this.imageId === item._id">
          <button class="btn" (click)="edit(item)"><fa-icon [icon]="['fas', 'edit']" size="2x"></fa-icon></button>
          <button class="btn" (click)="delete(item)"><fa-icon [icon]="['fas', 'trash-alt']" size="2x"></fa-icon></button>
        </div>
      </div>
    </div>

    <mat-paginator [length]="totalLength" [pageSize]="pageSize" [pageIndex]="currentPage" [pageSizeOptions]="[4, 12, 24, 48]" (page)="handlePage($event)"></mat-paginator>
  </div>
</section>
