<header [class.loaded]="contentLoaded">
  <nav>
    <a id="navLogo" routerLink="/" [@fade]="true" *ngIf="!isAdmin" [class.introLogo]="isIntro" (click)="closeNav(); closeSubNav()"><img src="https://assets.automatik.com/images/automatik-navigation-logo.png" alt="automätik logo"></a>

    <a id="navLogo" routerLink="/admin" [@fade]="true" *ngIf="isAdmin" [class.introLogo]="isIntro" (click)="closeNav(); closeSubNav()"><img src="https://assets.automatik.com/images/automatik-navigation-logo.png" alt="automätik logo"></a>

    <div class="fullNav" [@fade]="true" *ngIf="!isIntro && !isAdmin">
      <!--
      <div class="col">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </div>
      -->
      <div class="col">
        <a routerLink="/services" routerLinkActive="active" [class.hover]="subNav === 'Services'" (mouseenter)="toggleSubNav('Services')" (click)="closeSubNav()">Services</a>

        <div class="fullSubNav" [@topDown]="true" *ngIf="subNav === 'Services'">
          <a routerLink="/services/event-planning" routerLinkActive="active" (click)="closeSubNav()">Event Planning</a>
          <a routerLink="/services/event-production" routerLinkActive="active" (click)="closeSubNav()">Event Production</a>
          <a routerLink="/services/instructional-design" routerLinkActive="active" (click)="closeSubNav()">Instructional Design</a>
          <a routerLink="/services/graphic-design" routerLinkActive="active" (click)="closeSubNav()">Graphic Design</a>
          <a routerLink="/services/video-production" routerLinkActive="active" (click)="closeSubNav()">Video Production</a>
          <a routerLink="/services/app-and-web-development" routerLinkActive="active" (click)="closeSubNav()">App/Web Development</a>
        </div>
      </div>
      <div class="col">
        <a routerLink="/training" routerLinkActive="active" [class.hover]="subNav === 'Training'" (mouseenter)="toggleSubNav('Training')" (click)="closeSubNav()">Training</a>

        <div class="fullSubNav" [@topDown]="true" *ngIf="subNav === 'Training'">
          <a routerLink="/training" fragment="workshops" (click)="closeSubNav()">Workshops</a>
          <a routerLink="/training" fragment="mentoring" (click)="closeSubNav()">Private Mentoring</a>
          <a routerLink="/training" fragment="customdevelopment" (click)="closeSubNav()">Custom Development</a>
          <!--
          <a routerLink="/training/e-learning" (click)="closeSubNav()">E-Learning</a>
          <a routerLink="/training/e-books" (click)="closeSubNav()">E-Books</a>
          -->
        </div>
      </div>
      <div class="col">
        <a routerLink="/portfolio" routerLinkActive="active" (click)="closeSubNav(); setPortfolio()" (mouseenter)="toggleSubNav('Portfolio')">Portfolio</a>
      </div>
      <div class="col">
        <a routerLink="/resources/blog" routerLinkActive="active" (click)="closeSubNav()" (mouseenter)="toggleSubNav('Blog')">Blog</a>
      </div>
      <!--
      <div class="col">
        <a routerLink="/resources" routerLinkActive="active" [class.hover]="subNav === 'Resources'" (mouseenter)="toggleSubNav('Resources')" (click)="closeSubNav()">Resources</a>

        <div class="fullSubNav" [@topDown]="true" *ngIf="subNav === 'Resources'">
          <a routerLink="/resources/blog" (click)="closeSubNav()">Blog</a>
          <a routerLink="/resources/podcast" (click)="closeSubNav()">Podcast</a>
          <a routerLink="/resources/videos" (click)="closeSubNav()">Videos</a>
          <a routerLink="/resources/printables" (click)="closeSubNav()">Printables</a>
        </div>
      </div>
      -->
      <div class="col">
        <a routerLink="/about" routerLinkActive="active" [class.hover]="subNav === 'About'" (mouseenter)="toggleSubNav('About')" (click)="closeSubNav()">About</a>

        <div class="fullSubNav" [@topDown]="true" *ngIf="subNav === 'About'">
          <a routerLink="/about" fragment="history" [class.active]="activeLink('history')" (click)="closeSubNav()">History</a>
          <a routerLink="/about" fragment="team" [class.active]="activeLink('team')" (click)="closeSubNav()">Team</a>
          <a routerLink="/about" fragment="values" [class.active]="activeLink('values')" (click)="closeSubNav()">Values</a>
          <a routerLink="/about" fragment="clients" [class.active]="activeLink('clients')" (click)="closeSubNav()">Clients</a>
          <a routerLink="/about" fragment="careers" [class.active]="activeLink('careers')" (click)="closeSubNav()">Careers</a>
          <a routerLink="/about/news" routerLinkActive="active" (click)="closeSubNav()">In The News</a>
          <a class="navBtn" routerLink="/about/contact" (click)="closeSubNav()">Contact</a>
        </div>
      </div>
    </div>

    <div class="fullNav" [@fade]="true" *ngIf="!isIntro && isAdmin && !isLogin">
      <div class="col">
        <a routerLink="/admin/training/workshops" [class.active]="activePage.indexOf('/admin/training') === 0" [class.hover]="subNav === 'Training'" (mouseenter)="toggleSubNav('Training')" (click)="closeSubNav()">Training</a>

        <div class="fullSubNav" [@topDown]="true" *ngIf="subNav === 'Training'">
          <a routerLink="/admin/training/workshops" routerLinkActive="active" (click)="closeSubNav()">Workshops</a>
          <a routerLink="/admin/training/registrants" routerLinkActive="active" (click)="closeSubNav()">Registrants</a>
        </div>
      </div>
      <div class="col">
        <a routerLink="/admin/portfolio" routerLinkActive="active" (mouseenter)="toggleSubNav('Portfolio')">Portfolio</a>
      </div>
      <div class="col">
        <a routerLink="/admin/blog" routerLinkActive="active" (mouseenter)="toggleSubNav('Blog')">Blog</a>
      </div>
      <div class="col">
        <a href="/admin" [class.active]="activePage.indexOf('/about') === 0" [class.hover]="subNav === 'About'" (mouseenter)="toggleSubNav('About')">About</a>

        <div class="fullSubNav" [@topDown]="true" *ngIf="subNav === 'About'">
          <a routerLink="/admin/team" routerLinkActive="active" (click)="closeSubNav()">Team</a>
          <a routerLink="/admin/careers" routerLinkActive="active" (click)="closeSubNav()">Careers</a>
          <a routerLink="/admin/news" routerLinkActive="active" (click)="closeSubNav()">News</a>
        </div>
      </div>
      <div class="col">
        <a routerLink="/admin/images" routerLinkActive="active" (mouseenter)="toggleSubNav('Images')">Images</a>
      </div>
    </div>

    <!--
    <a id="navSearch" [@fade]="true" *ngIf="!isIntro" (click)="closeSubNav()"><fa-icon [icon]="['fas', 'search']" size="2x"></fa-icon></a>
    -->

    <button id="navLogout" class="navBtn" [@fade]="true" *ngIf="!isIntro && isAdmin && !isLogin" (click)="logoutAdmin()">Logout</button>

    <button id="mobileNavBtn" [@fade]="true" [class.open]="mobileNav" *ngIf="!isIntro && !isLogin" (click)="toggleNav()">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="mobileNav" [@mobileNavMenu]="true" *ngIf="mobileNav && !isAdmin">
      <!--
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeNav()">Home</a>
      -->

      <a [class.active]="activePage.indexOf('/services') === 0" (click)="toggleMobileSubNav('Services')">
        <span>Services</span>
        <fa-icon [icon]="['fas', 'chevron-down']" [class.open]="subNav === 'Services'"></fa-icon>
      </a>

      <div class="mobileSubNav" [@topDown]="true" *ngIf="subNav === 'Services'">
        <a routerLink="/services/event-planning" routerLinkActive="active" (click)="closeNav()">Event Planning</a>
        <a routerLink="/services/event-production" routerLinkActive="active" (click)="closeNav()">Event Production</a>
        <a routerLink="/services/instructional-design" routerLinkActive="active" (click)="closeNav()">Instructional Design</a>
        <a routerLink="/services/graphic-design" routerLinkActive="active" (click)="closeNav()">Graphic Design</a>
        <a routerLink="/services/video-production" routerLinkActive="active" (click)="closeNav()">Video Production</a>
        <a routerLink="/services/app-and-web-development" routerLinkActive="active" (click)="closeNav()">App/Web Development</a>
      </div>

      <a [class.active]="activePage.indexOf('/training') === 0" (click)="toggleMobileSubNav('Training')">
        <span>Training</span>
        <fa-icon [icon]="['fas', 'chevron-down']" [class.open]="subNav === 'Training'"></fa-icon>
      </a>

      <div class="mobileSubNav" [@topDown]="true" *ngIf="subNav === 'Training'">
        <a routerLink="/training" fragment="workshops" [class.active]="activeLink('workshops')" (click)="closeNav()">Workshops</a>
        <a routerLink="/training" fragment="mentoring" [class.active]="activeLink('mentoring')" (click)="closeNav()">Private Mentoring</a>
        <a routerLink="/training" fragment="customdevelopment" [class.active]="activeLink('customdevelopment')" (click)="closeNav()">Custom Development</a>
        <!--
        <a routerLink="/training/e-learning" routerLinkActive="active" (click)="closeNav()">E-Learning</a>
        <a routerLink="/training/e-books" routerLinkActive="active" (click)="closeNav()">E-Books</a>
        -->
      </div>

      <a routerLink="/portfolio" routerLinkActive="active" (click)="closeNav(); closeSubNav(); setPortfolio()">Portfolio</a>

      <a routerLink="/resources/blog" routerLinkActive="active" (click)="closeNav(); closeSubNav()">Blog</a>

      <!--
      <a [class.active]="activePage.indexOf('/resources') === 0" (click)="toggleMobileSubNav('Resources')">
        <span>Resources</span>
        <fa-icon [icon]="['fas', 'chevron-down']" [class.open]="subNav === 'Resources'"></fa-icon>
      </a>

      <div class="mobileSubNav" [@topDown]="true" *ngIf="subNav === 'Resources'">
        <a routerLink="/resources/blog" routerLinkActive="active" (click)="closeNav()">Blog</a>
        <a routerLink="/resources/podcast" routerLinkActive="active" (click)="closeNav()">Podcast</a>
        <a routerLink="/resources/videos" routerLinkActive="active" (click)="closeNav()">Videos</a>
        <a routerLink="/resources/printables" routerLinkActive="active" (click)="closeNav()">Printables</a>
      </div>
      -->

      <a [class.active]="activePage.indexOf('/about') === 0" (click)="toggleMobileSubNav('About')">
        <span>About</span>
        <fa-icon [icon]="['fas', 'chevron-down']" [class.open]="subNav === 'About'"></fa-icon>
      </a>

      <div class="mobileSubNav" [@topDown]="true" *ngIf="subNav === 'About'">
        <a routerLink="/about" fragment="history" [class.active]="activeLink('history')" (click)="closeNav()">History</a>
        <a routerLink="/about" fragment="team" [class.active]="activeLink('team')" (click)="closeNav()">Team</a>
        <a routerLink="/about" fragment="values" [class.active]="activeLink('values')" (click)="closeNav()">Values</a>
        <a routerLink="/about" fragment="clients" [class.active]="activeLink('clients')" (click)="closeNav()">Clients</a>
        <a routerLink="/about" fragment="careers" [class.active]="activeLink('careers')" (click)="closeNav()">Careers</a>
        <a routerLink="/about/news" routerLinkActive="active" (click)="closeNav()">In The News</a>
        <a class="navBtn" routerLink="/about/contact" (click)="closeNav()">Contact</a>
      </div>
    </div>

    <div class="mobileNav" [@mobileNavMenu]="true" *ngIf="mobileNav && isAdmin">
      <a [class.active]="activePage.indexOf('/admin/training') === 0" (click)="toggleMobileSubNav('Training')">
        <span>Training</span>
        <fa-icon [icon]="['fas', 'chevron-down']" [class.open]="subNav === 'Training'"></fa-icon>
      </a>

      <div class="mobileSubNav" [@topDown]="true" *ngIf="subNav === 'Training'">
        <a routerLink="/admin/training/workshops" routerLinkActive="active" (click)="closeNav()">Workshops</a>
        <a routerLink="/admin/training/registrants" routerLinkActive="active" (click)="closeNav()">Registrants</a>
      </div>

      <a routerLink="/admin/portfolio" routerLinkActive="active" (click)="closeNav(); closeSubNav()">Portfolio</a>

      <a routerLink="/admin/blog" routerLinkActive="active" (click)="closeNav(); closeSubNav()">Blog</a>

      <a [class.active]="activePage.indexOf('/about') === 0" (click)="toggleMobileSubNav('About')">
        <span>About</span>
        <fa-icon [icon]="['fas', 'chevron-down']" [class.open]="subNav === 'About'"></fa-icon>
      </a>

      <div class="mobileSubNav" [@topDown]="true" *ngIf="subNav === 'About'">
        <a routerLink="/admin/team" routerLinkActive="active" (click)="closeNav()">Team</a>
        <a routerLink="/admin/careers" routerLinkActive="active" (click)="closeNav()">Careers</a>
        <a routerLink="/admin/news" routerLinkActive="active" (click)="closeNav()">News</a>
      </div>

      <a routerLink="/admin/images" routerLinkActive="active" (click)="closeNav(); closeSubNav()">Images</a>

      <a class="navBtn" (click)="closeNav(); closeSubNav(); logoutAdmin()">Logout</a>
    </div>
  </nav>
</header>

<div id="main" [class.loaded]="contentLoaded" (mouseenter)="closeSubNav()">
  <router-outlet></router-outlet>
</div>

<footer *ngIf="!isAdmin" [class.loaded]="contentLoaded" (mouseenter)="closeSubNav()">
  <div class="container" [@fade]="true" *ngIf="!isIntro">
    <div class="socialMedia">
      <a class="smIcon facebook" href="https://www.facebook.com/automatikus/" target="_blank">
        <fa-icon [icon]="['fab', 'facebook-f']" size="lg"></fa-icon>
      </a>
      <a class="smIcon instagram" href="https://www.instagram.com/__automatik__/" target="_blank">
        <fa-icon [icon]="['fab', 'instagram']" size="lg"></fa-icon>
      </a>
      <a class="smIcon linkedin" href="https://www.linkedin.com/company/autom-tik" target="_blank">
        <fa-icon [icon]="['fab', 'linkedin-in']" size="lg"></fa-icon>
      </a>
      <!--
      <a class="smIcon twitter" href="#" target="_blank">
        <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
      </a>
      <a class="smIcon pinterest" href="#" target="_blank">
        <fa-icon [icon]="['fab', 'pinterest']" size="lg"></fa-icon>
      </a>
      -->
    </div>

    <div class="row">
      <div class="col-12 col-xl-7">
        <div class="row">
          <div class="col-12 col-md-5 offset-md-1 col-lg-4 offset-lg-2 col-xl-6 offset-xl-0 text-center text-xl-left">
            <h5>Our Mission</h5>

            <p>To eradicate boring training from the face of the&nbsp;Earth.</p>
          </div>
          <div class="col-12 col-md-5 col-lg-4 col-xl-6 text-center text-xl-left">
            <h5>Contact Us</h5>

            <p>Phone: 480.775.6216
              <br>Email: info@automatik.com</p>
          </div>
        </div>

        <p class="d-none d-xl-block mt-5">Copyright &copy; {{ currentYear }} autom&auml;tik LLC, All rights reserved. Privacy Policy: By accessing or using the autom&auml;tik LLC website, you agree to the terms of this Privacy Policy. If you do not agree to these terms, please do not access or use this&nbsp;site.</p>
      </div>

      <div class="col-12 col-xl-5 align-self-end mt-5 mt-lg-0 text-center text-xl-right">
        <a routerLink="/services">Services</a> <span class="d-none d-md-inline-block">&nbsp; | &nbsp;</span>
        <a routerLink="/training">Training</a> <span class="d-none d-md-inline-block">&nbsp; | &nbsp;</span>
        <a routerLink="/portfolio">Portfolio</a> <span class="d-none d-md-inline-block">&nbsp; | &nbsp;</span>
        <a routerLink="/resources/blog">Blog</a> <span class="d-none d-md-inline-block">&nbsp; | &nbsp;</span>
        <a routerLink="/about">About</a>

        <div class="d-lg-none"></div>

        <img src="https://assets.automatik.com/images/wbenc-logo.png" alt="Certified WBENC Women's Business Enterprise" width="180">

        <a routerLink="/"><img src="https://assets.automatik.com/images/automatik-logo.png" alt="automätik" width="90"></a>
      </div>
    </div>

    <p class="d-block d-xl-none mt-5">Copyright &copy; {{ currentYear }} autom&auml;tik LLC, All rights reserved. Privacy Policy: By accessing or using the autom&auml;tik LLC website, you agree to the terms of this Privacy Policy. If you do not agree to these terms, please do not access or use this&nbsp;site.</p>
  </div>
</footer>
