<div class="training" [@fade]="true">
  <section class="dark fixed fullHeight hero">
    <parallax-bg [images]="heroImages"></parallax-bg>

    <div class="overlay"></div>

    <div class="title">
      <h1>Training
        <br><span class="subhead">Activating minds and accelerating performance through our professional workshops, private mentoring, and custom training solutions.</span></h1>
    </div>
  </section>

  <scroll-arrow></scroll-arrow>

  <section class="dark py-5">
    <div class="container">
      <h4 class="text-center">Through its suite of proprietary workshops, private mentoring services, and custom training solutions, autom&auml;tik Training exists to serve individuals and organizations seeking to maximize participant engagement, cultivate employee growth, and develop high-impact presentations that achieve&amp;results.</h4>
    </div>
  </section>

  <section id="workshops">
    <div class="container">
      <h2>Workshops</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik.com/images/courses-workshops.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <h3>Looking to elevate your training skills?</h3>

          <p>autom&auml;tik offers a number of proprietary half, full, and multi-day learning workshops designed to radically change your paradigm and come out on the other side a better&nbsp;communicator.</p>

          <p>We currently offer:</p>

          <ul>
            <li *ngFor="let workshop of workshops"><a routerLink="/training/workshops/{{ workshop.slug }}">{{ workshop.title }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="mentoring">
    <div class="container">
      <h2>Private Communications Mentoring</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik.com/images/private-communications-mentoring.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <h3>How Are Your Communication Skills?</h3>

          <p>That&rsquo;s a <strong>supremely important question</strong>, because a recent survey of nearly 1,000 employers shows that <strong>communication skills</strong> top the list of what employers look&nbsp;for.</p>
        </div>
      </div>

      <div class="my-5 row">
        <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
          <img class="w-100" src="https://assets.automatik.com/images/employer-proficiency-chart.jpg" alt="What Employers Want From New Hires">
        </div>
      </div>

      <p>Likewise, have you ever watched a celebrity or athlete being interviewed and, for some hard-to-pin-point reason, he or she just wasn&rsquo;t able to project the &ldquo;personal brand image&rdquo; you thought he or she would? While you couldn&rsquo;t put your finger exactly on WHY, you knew that something just didn&rsquo;t look, sound, or feel&nbsp;right.</p>

      <p>autom&auml;tik&rsquo;s executive team has helped develop and enhance the communications skills of thousands of men and woman from myriad marketplace sectors. However, our most common <strong>private</strong> request sounds something like this: &ldquo;Can you help ME become a <strong>radically</strong> more effective communicator?&rdquo; Our heartfelt answer: &ldquo;Yes. Yes we&nbsp;can.&rdquo;</p>

      <div class="my-5 text-center">
        <img class="w-25" src="https://assets.automatik.com/images/coaching.png" alt="Coaching">
      </div>

      <p>A <strong>mentor</strong> is someone who offers their knowledge, expertise, and advice to those with less experience. By leveraging their experience and skills, <strong>effective</strong> mentors help guide mentees in the right&nbsp;direction.</p>

      <p>With that in mind, the highest priority of an <strong>autom&auml;tik Private Communications Mentor</strong> is to help our mentees develop important and powerful communications skills that are not just relevant in their present position, but also for whatever their future may hold.  Therefore, whether you are an athlete desiring to interview more effectively and radically enhance your &ldquo;personal brand,&rdquo; a media host or politician eager to eliminate &ldquo;filler words&rdquo; from your vocabulary, or a corporate executive looking to up your presentation game, <strong>WE CAN ABSOLUTELY HELP&nbsp;YOU!</strong></p>

      <p>Please <a routerLink="/about/contact">CONTACT US</a> to begin a private&nbsp;consultation.</p>
    </div>
  </section>

  <section id="customdevelopment">
    <div class="container">
      <h2>Custom Development</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik.com/images/courses-custom-training.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <h3>Got something specific in mind?</h3>

          <p>Let&rsquo;s <strong>eradicate boring training</strong> in your field. From one-hour modules to multi-day corporate events and everything in between, our in-house team can help you design effective, informative, and impactful learning experiences for your&nbsp;participants.</p>

          <p>Please <a routerLink="/about/contact">CONTACT US</a> with more specifics and we&rsquo;ll get back to you with some ideas, post&nbsp;haste.</p>
        </div>
      </div>
    </div>
  </section>
</div>
