<div class="service" [@fade]="true">
  <section class="dark fixed fullHeight hero graphicDesign">
    <div class="overlay"></div>

    <h1>Graphic Design
      <br><span class="subhead">Elevating your brand through stunning&nbsp;design.</span></h1>
  </section>

  <section class="dark py-5">
    <div class="container">
      <h4 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare ultrices nisi nec porta. Nam massa sapien, interdum sit amet fringilla eu, cursus et dolor. Sed non dui vel odio dapibus faucibus. Mauris aliquam odio vel risus faucibus tempus.</h4>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Large-format graphic design and production</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare ultrices nisi nec porta. Nam massa sapien, interdum sit amet fringilla eu, cursus et dolor. Sed non dui vel odio dapibus faucibus. Mauris aliquam odio vel risus faucibus tempus. Sed et odio nec nulla venenatis pharetra et vel ante. Nulla vehicula ligula ut convallis egestas. Fusce luctus efficitur purus non ultricies. Curabitur faucibus quam pulvinar risus maximus, at sagittis enim scelerisque. Sed ut gravida magna.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>UX/UI Design</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare ultrices nisi nec porta. Nam massa sapien, interdum sit amet fringilla eu, cursus et dolor. Sed non dui vel odio dapibus faucibus. Mauris aliquam odio vel risus faucibus tempus. Sed et odio nec nulla venenatis pharetra et vel ante. Nulla vehicula ligula ut convallis egestas. Fusce luctus efficitur purus non ultricies. Curabitur faucibus quam pulvinar risus maximus, at sagittis enim scelerisque. Sed ut gravida magna.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Print Layout</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare ultrices nisi nec porta. Nam massa sapien, interdum sit amet fringilla eu, cursus et dolor. Sed non dui vel odio dapibus faucibus. Mauris aliquam odio vel risus faucibus tempus. Sed et odio nec nulla venenatis pharetra et vel ante. Nulla vehicula ligula ut convallis egestas. Fusce luctus efficitur purus non ultricies. Curabitur faucibus quam pulvinar risus maximus, at sagittis enim scelerisque. Sed ut gravida magna.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Communications</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare ultrices nisi nec porta. Nam massa sapien, interdum sit amet fringilla eu, cursus et dolor. Sed non dui vel odio dapibus faucibus. Mauris aliquam odio vel risus faucibus tempus. Sed et odio nec nulla venenatis pharetra et vel ante. Nulla vehicula ligula ut convallis egestas. Fusce luctus efficitur purus non ultricies. Curabitur faucibus quam pulvinar risus maximus, at sagittis enim scelerisque. Sed ut gravida magna.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="dark fixed hero graphicDesign">
    <div class="overlay"></div>

    <div class="container" (mouseover)="stopCarousel()" (mouseleave)="startCarousel()">
      <h2>Why autom&auml;tik?</h2>

      <div class="row">
        <div class="col-1 d-none d-md-flex align-items-center justify-content-center" (click)="prevSlide()">
          <fa-icon [icon]="['fas', 'chevron-left']" size="2x"></fa-icon>
        </div>

        <div class="col-12 col-md-10">
          <div class="carousel" #carousel>
            <div class="slide" *ngFor="let item of slides; let i = index" [class.active]="i === currentSlide" [class.left]="i === currentSlide - 1 || (i === dataLength && currentSlide === 0)" [class.right]="i === currentSlide + 1 || (i === 0 && currentSlide === dataLength)" #slides>
              <h3 [innerHtml]="item.heading"></h3>

              <p [innerHtml]="item.copy"></p>
            </div>
          </div>

          <div class="pager">
            <fa-icon [icon]="['fas', 'circle']" size="sm" *ngFor="let item of slides; let i = index" [class.active]="i === currentSlide" (click)="setSlide(i)"></fa-icon>
          </div>
        </div>

        <div class="col-1 d-none d-md-flex align-items-center justify-content-center" (click)="nextSlide()">
          <fa-icon [icon]="['fas', 'chevron-right']" size="2x"></fa-icon>
        </div>
      </div>
    </div>
  </section>

  <div class="scrollArrow" [@fade]="true" *ngIf="atTop" (click)="scrollPage()">
    <div class="arrowDown"></div>
  </div>
</div>
