<div class="service" [@fade]="true">
  <section class="dark fixed fullHeight hero graphicDesign">
    <div class="overlay"></div>

    <h1>Graphic Design
      <br><span class="subhead">Elevating your brand through stunning&nbsp;design.</span></h1>
  </section>

  <section class="dark py-5">
    <div class="container">
      <h4 class="text-center">From design strategy to hassle-free production, the autom&auml;tik design team ensures that your corporate event or &ldquo;a la carte&rdquo; design project is a complete extension of your brand. Have a look at our areas of design&nbsp;expertise.</h4>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Large-format graphic design and production</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Every training event is an opportunity to communicate your brand to your audience. However, we also recognize that each event is unique, requiring a right-sized approach. That&rsquo;s where we come in. Our design team will first understand your specific vision, timeframe, and budget. Then, we&rsquo;ll recommend environment design solutions that positively reflect your brand message... and honor your scope. Along the way, we&rsquo;ll manage every aspect of the design and production process, keeping your team looped in and breathing easy. Check out our <a routerLink="/portfolio">Portfolio</a> to see a sampling of the many results we&rsquo;ve achieved for&nbsp;others...</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>UX/UI Design</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Do you have a digital component to your next training event? Perhaps a registration website, digital event guide, or eLearning component? If so, you&rsquo;ll want to make sure that each digital element offers users a consistent and unified brand experience. Let our design team help create a friction-free user interface (UI) / user experience (UX) that augments your physical training component. <a href="#">Here&rsquo;s a few examples of our past&nbsp;work...</a></p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Print Layout</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>World-class print layout is a passion of our design team. Whether your needs call for functional participant materials, attention-getting promotional communications, or a show-stopping prospectus to launch your next business venture, our design team is up to the task. Beyond the initial layout, we&rsquo;ll suggest the perfect printing surface and bindery, and then manage the process on your behalf. <a href="#">Check out our print layout samples&nbsp;here...</a></p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Communications</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/app-web-development-who-we-are.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Event training communications often cross borders between the physical and digital realms. How can you be sure they synch up? Let us help! Based on your desired communication plan, our design team ensures that your posters, mailers, HTML emails, and landing page resources look, feel, and work in unison. <a href="#">Here&rsquo;s a few examples of our Communication design&nbsp;chops...</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="dark fixed hero graphicDesign">
    <div class="overlay"></div>

    <div class="container">
      <h2>Why autom&auml;tik?</h2>
    </div>

    <app-carousel [slides]="slides"></app-carousel>
  </section>

  <div class="scrollArrow" [@fade]="true" *ngIf="atTop" (click)="scrollPage()">
    <div class="arrowDown"></div>
  </div>
</div>
