<div class="service" [@fade]="true">
  <section class="dark fixed fullHeight hero eventPlanning">
    <div class="overlay"></div>

    <h1>Event Planning
      <br><span class="subhead">Let our team sweat the details on your&nbsp;behalf.</span></h1>
  </section>

  <section class="dark py-5">
    <div class="container">
      <h4 class="text-center">Over the years, our Phoenix-based event management team has planned, staffed, and managed thousands of nationwide events for corporations of every shape and size. (And we do it with a smile.) If your needs call for any or all of the related services, do yourself a favor and give us a&nbsp;call.</h4>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Venue Sourcing &amp;&nbsp;Management</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/event-planning-venue.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <h3>Finding Home Base</h3>

          <p>Our team takes the time to get to know you and your event goals and requirements so that we can research and identify hotels and other venues that best meet your needs. We sift through potential properties until we find the one that&rsquo;s right for you, reviewing as many proposals as necessary to determine not only the best option, but also the best value. If desired, we&rsquo;ll visit the venue personally to conduct a thorough site inspection. Then, we work with the venue directly to negotiate the best pricing and solidify a contract that meets the needs of the program. From there, we&rsquo;ll manage the relationship with the venue to ensure the program is executed&nbsp;flawlessly.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Event Staffing</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/event-planning-staff.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <h3>Who&rsquo;s On First?</h3>

          <p>Maya Angelou is famous for saying, &ldquo;People will forget what you said, people will forget what you did, but people will never forget how you made them feel.&rdquo; We believe wholeheartedly in that sentiment, and that&rsquo;s why we know it&rsquo;s critical to find the right staff for your event. Your attendees&rsquo; interactions with event staff will form the basis for the way they experience your event, from check-in to departure. Using our extensive network of industry contractor partners, we&rsquo;ll hire the right staff for your event to ensure your participants will not only remember the experience but will want share it with others. Whether that means finding the best presenters, registration coordinators, audio/visual personnel, or any other role your event may require, you can be sure that we won&rsquo;t rest until we&rsquo;ve found the right person for the&nbsp;job.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Travel Management</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/event-planning-transportation.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <h3>How We Get There</h3>

          <p>While your attendees will most likely be focused on the experience they will have while at your event, one thing that will certainly shape their opinion is the smoothness of their experience <em>getting there</em>. Our team of event managers has the tools and expertise to take care of all your travel needs, up to and including booking flights, hotels, and rental cars any staff or participants may need. If desired, we&rsquo;ll arrange bussing, limo, or sedan transportation for airport transfers or off-site events. Our booking process ensures every traveler earns his or her frequent flier miles or hotel rewards points, and we&rsquo;ll even manage your hotel rooming lists, communicate confirmation information, and provide airport greeters if&nbsp;desired.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Food and Beverage Coordination</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/event-planning-food.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <h3>What&rsquo;s for Lunch?</h3>

          <p>One of the most memorable (and yet, often overlooked) components of any event is food and beverage. <strong>Food is fuel</strong>, and participants are less likely to absorb their event experience if they are &ldquo;running on empty.&rdquo; Based on your budget, we&rsquo;ll develop unique solutions to provide your participants an experience that is memorable and sure to keep them energized for the day&rsquo;s (or night&rsquo;s) activities.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Event Registration</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/home-event-sign-ups.png)'" [style.height.px]="0" [style.minHeight.px]="0" [style.paddingBottom]="'75%'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <h3>Where It All Begins</h3>

          <p>Your participants&rsquo; event experience doesn&rsquo;t begin when they arrive at the event hotel, or even when they land in the city in which the event is being held. <strong>Their experience begins when they visit your event registration website to sign up.</strong> We create fully responsive, customized, beautifully branded registration sites that will start your attendees&rsquo; experience off on the right foot. Our registration infrastructure also provides a highly detailed backend reporting structure so that we can provide you with key attendee data at any&nbsp;time.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Promotional Materials &amp;&nbsp;Wearables</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/event-planning-branding.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <h3>Brand, Brand, Brand!</h3>

          <p>We love to help our clients promote their brand through chic, logo uniforms for staff and cool, unique giveaway items that participants will continue to use well past the event itself. New promotional items are being introduced into the marketplace every day, and our relationships with suppliers give us a unique advantage to be able to deliver a myriad of different options for your event. Whether you prefer a tech-focused item like a power bank or a portable speaker, or you want to go green with a reusable water bottle (and do away with disposable bottles of water at your event), we&rsquo;ll help you find the perfect solution that will put your brand front and&nbsp;center.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="dark fixed hero eventPlanning">
    <div class="overlay"></div>

    <div class="container">
      <h2>Why autom&auml;tik?</h2>
    </div>

    <app-carousel [slides]="slides"></app-carousel>
  </section>

  <div class="scrollArrow" [@fade]="true" *ngIf="atTop" (click)="scrollPage()">
    <div class="arrowDown"></div>
  </div>
</div>
