<div [@fade]="true">
  <section class="fullHeight" id="home1">
    <img src="../../../assets/images/automatik-logo.png" alt="automätik">
  </section>

  <section class="fullHeight" id="home2">
    <h2>Section for Services</h2>
  </section>

  <section class="fullHeight" id="home3">
    <h2>Section for Courses</h2>
  </section>

  <section class="fullHeight" id="home4">
    <h2>Section for Portfolio</h2>
  </section>

  <section class="fullHeight" id="home5">
    <h2>Section for Resources</h2>
  </section>

  <section class="fullHeight" id="home6">
    <h2>Section for About</h2>
  </section>
</div>
