<div [@fade]="true">
  <section class="dark fullHeight" id="home1">
    <parallax-bg [images]="images.home1"></parallax-bg>

    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-11 col-md-10">
          <h1><span class="fadeText">Eradicating</span>
            <br><span class="yellowText">boring&nbsp;training</span> from the face of&nbsp;the&nbsp;Earth.</h1>

          <button class="autoBtn my-3" routerLink="/">Let&rsquo;s Save the World</button>
        </div>
      </div>

      <span class="textShadow">Eradicating</span>
      <img id="particleImg" src="https://assets.automatik9dots.com/images/eradicate-particulates.png" alt="Particulates">
    </div>
  </section>

  <scroll-arrow></scroll-arrow>

  <section class="dark imgArrow" id="home2">
    <parallax-bg [images]="images.home2"></parallax-bg>

    <div class="container">
      <h2>Trusted by
        <br>the&nbsp;world&rsquo;s&nbsp;best</h2>

      <div class="row">
        <div class="col-3 col-sm-2">
          <div class="imgBox">
            <img src="https://assets.automatik9dots.com/images/client-logo-acura.png" alt="Acura" width="100%">
          </div>
        </div>
        <div class="col-3 col-sm-2">
          <div class="imgBox">
            <img src="https://assets.automatik9dots.com/images/client-logo-land-rover.png" alt="Land Rover" width="100%">
          </div>
        </div>
        <div class="col-3 col-sm-2">
          <div class="imgBox">
            <img src="https://assets.automatik9dots.com/images/client-logo-alfa-romeo.png" alt="Alfa Romeo" width="100%">
          </div>
        </div>
        <div class="col-3 col-sm-2">
          <div class="imgBox">
            <img src="https://assets.automatik9dots.com/images/client-logo-audi.png" alt="Audi" width="100%">
          </div>
        </div>
        <div class="col-3 col-sm-2">
          <div class="imgBox">
            <img src="https://assets.automatik9dots.com/images/client-logo-toyota.png" alt="Toyota" width="100%">
          </div>
        </div>
        <div class="col-3 col-sm-2">
          <div class="imgBox">
            <img src="https://assets.automatik9dots.com/images/client-logo-honda.png" alt="Honda" width="100%">
          </div>
        </div>
        <div class="col-3 col-sm-2">
          <div class="imgBox">
            <img src="https://assets.automatik9dots.com/images/client-logo-jaguar.png" alt="Jaguar" width="100%">
          </div>
        </div>
        <div class="col-3 col-sm-2">
          <div class="imgBox">
            <img src="https://assets.automatik9dots.com/images/client-logo-bmw.png" alt="BMW" width="100%">
          </div>
        </div>
        <div class="col-3 col-sm-2">
          <div class="imgBox">
            <img src="https://assets.automatik9dots.com/images/client-logo-lexus.png" alt="Lexus" width="100%">
          </div>
        </div>
        <div class="col-3 col-sm-2">
          <div class="imgBox">
            <img src="https://assets.automatik9dots.com/images/client-logo-mini.png" alt="Mini" width="100%">
          </div>
        </div>
        <div class="col-3 col-sm-2">
          <div class="imgBox">
            <img src="https://assets.automatik9dots.com/images/client-logo-sub-zero-wolf-cove.png" alt="Sub Zero | Wolf | Cove" width="100%">
          </div>
        </div>
        <div class="col-3 col-sm-2">
          <div class="imgBox">
            <img src="https://assets.automatik9dots.com/images/client-logo-volkswagen.png" alt="Volkswagen" width="100%">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="dark solidArrow" id="home3">
    <div class="container">
      <h3>Client Testimonial</h3>
    </div>

    <app-carousel [slides]="randomTestimonials"></app-carousel>
  </section>

  <section class="dark fixed" id="home4">
    <div class="container">
      <h2>5 Secrets to de&#8209;borifying your&nbsp;next&nbsp;event</h2>

      <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
          <h3>Subscribe to our monthly newsletter and receive our free article that&rsquo;s sure to supercharge your next&nbsp;event.</h3>
        </div>
      </div>

      <div class="mt-4 text-left" *ngIf="!success && !error.length">
        <form #newsletterForm="ngForm" novalidate>
          <div class="row">
            <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-0">
              <div class="inputGroup" [class.nope]="name.errors && (name.touched || submitted)">
                <input type="text" class="form-control" name="name" #name="ngModel" autocomplete="off" required pattern="^[A-z-.]+$" [(ngModel)]="newsletter.name">
                <label for="name">Name</label>
                <div class="errorMsg" [@topDown]="true" *ngIf="name.errors && (name.touched || submitted)">
                  <p *ngIf="name.errors.required">Name is required</p>
                  <p *ngIf="name.errors.pattern">Numbers and special characters are not allowed</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-0">
              <div class="inputGroup" [class.nope]="email.errors && (email.touched || submitted)">
                <input type="text" id="email" name="email" #email="ngModel" autocomplete="off" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" [(ngModel)]="newsletter.email">
                <label for="email">Email</label>
                <div class="errorMsg" [@topDown]="true" *ngIf="email.errors && (email.touched || submitted)">
                  <p *ngIf="email.errors.required">Email Address is required</p>
                  <p *ngIf="email.errors.pattern">Email Address is invalid</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-0">
              <button class="autoBtn my-3 w-100" *ngIf="!success" [disabled]="loading" (click)="submit(newsletter, newsletterForm.valid)">
                <span *ngIf="!loading">Send Me The Secrets!</span>
                <span *ngIf="loading">
                  <mat-spinner class="mx-auto" [diameter]="20" [strokeWidth]="3"></mat-spinner>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div [@fade]="true" *ngIf="success && !error.length">
        <h4 class="text-center text-success">Thanks for subscribing! Keep an eye out for all our latest event&nbsp;secrets!</h4>
      </div>

      <div class="errorMsg" [@topDown]="true" *ngIf="error.length">
        <p>{{ error }}</p>
      </div>
    </div>
  </section>

  <section class="dark fullHeight" id="home5">
    <parallax-bg [images]="images.home5"></parallax-bg>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 offset-md-6">
          <h2>Your one&#8209;stop
            <br>event&nbsp;shop</h2>

          <button class="autoBtn my-3" routerLink="/services">We Have Your Back</button>
        </div>
      </div>
    </div>
  </section>

  <section class="dark fullHeight" id="home6">
    <div class="container">
      <h2>We practice
        <br>the <span class="asterisk">*</span>platinum rule</h2>

      <h4>*<strong>Ask us</strong> what this means : )</h4>

      <button class="autoBtn dark my-3 px-5" routerLink="/about" fragment="team">Meet Our Team</button>
    </div>
  </section>

  <section class="dark fullHeight" id="home7">
    <parallax-bg [images]="images.home7"></parallax-bg>

    <div class="container">
      <h2>Become a presentation hero</h2>

      <button class="autoBtn my-3" routerLink="/">Sign Up For A Workshop</button>
    </div>
  </section>

  <section class="dark fullHeight" id="home8">
    <div class="container">
      <h2>Event tips
        <br>from the gurus</h2>

      <button class="autoBtn my-3 px-5" routerLink="/resources/blog">Read Our Blog</button>
    </div>
  </section>

  <section id="home9">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <img src="https://assets.automatik9dots.com/images/home-event-sign-ups.png" alt="Event registration">
        </div>

        <div class="col-12 col-md-5 order-md-first align-self-center">
          <h2>Beautiful, easy event sign&#8209;ups</h2>

          <button class="autoBtn dark my-3 px-3" routerLink="/">Build A Registration Site</button>
        </div>
      </div>
    </div>
  </section>

  <section class="dark fixed fullHeight" id="home10">
    <div class="container">
      <h2>We don&rsquo;t do&nbsp;boring</h2>

      <button class="autoBtn my-3 px-5" routerLink="/portfolio">Find Out Why</button>
    </div>
  </section>

  <section class="dark fullHeight" id="home11">
    <parallax-bg [images]="images.home11"></parallax-bg>

    <div class="container">
      <h2>Meet in style</h2>

      <button class="autoBtn my-3" routerLink="/">Find The Perfect Venue</button>
    </div>
  </section>

  <section class="dark fullHeight" id="home12">
    <div class="container">
      <h2>Engage your audience
        <br>to the max</h2>

      <button class="autoBtn my-3 px-4" routerLink="/courses">Explore MeetingMastery</button>
    </div>
  </section>

  <section class="dark fullHeight" id="home13">
    <div class="container">
      <h2>Write the perfect&nbsp;speech</h2>

      <button class="autoBtn my-3 px-5" routerLink="/">Get Started</button>
    </div>
  </section>

  <section class="dark fullHeight" id="home14">
    <parallax-bg [images]="images.home14"></parallax-bg>

    <div class="container">
      <h2>Become a PowerPoint&nbsp;Jedi</h2>

      <button class="autoBtn my-3" routerLink="/">Take Our Web Course</button>
    </div>
  </section>
</div>
