<div [@fade]="true">
  <section>
    <div class="container">
      <h1>blog &agrave; la autom&auml;tik</h1>

      <div *ngIf="!blogs && !error">
        <mat-spinner class="mx-auto my-5"></mat-spinner>
      </div>

      <div class="row" *ngIf="blogs && !error">
        <div class="blogList col-12 col-lg-9">
          <div class="blogPost" *ngFor="let blog of blogs">
            <div class="row">
              <div class="blogThumb col-12 col-md-4 col-lg-3">
                <a routerLink="/resources/blog/post/{{ blog.slug }}" [style.backgroundImage]="'url(' + getFeaturedImgSrc(blog.featured_media) + ')'"></a>
              </div>

              <div class="blogInfo col-12 col-md-8 col-lg-9">
                <h3 class="blogTitle"><a routerLink="/resources/blog/post/{{ blog.slug }}">{{ blog.title.rendered }}</a></h3>

                <p>{{ blog.date | date: 'mediumDate' }} &nbsp;|&nbsp; {{ getAuthor(blog.author) }}</p>

                <p>{{ blog.yoast.metadesc }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="blogSidebar d-none d-lg-block col-lg-3">
          <h5>Recent Posts</h5>

          <div class="recentPosts">
            <div class="blogPost" *ngFor="let blog of blogs | slice:0:5">
              <p><a routerLink="/resources/blog/post/{{ blog.slug }}">{{ blog.title.rendered }}
                <br><span class="blogDate">{{ blog.date | date: 'mediumDate' }}</span></a></p>
            </div>
          </div>

          <h5>Categories</h5>

          <div class="categoryList">
            <p *ngFor="let cat of categories"><a routerLink="/resources/blog/category/{{ cat.slug }}">{{ cat.name }}</a></p>
          </div>
        </div>
      </div>

      <div *ngIf="error">{{ error }}</div>
    </div>
  </section>
</div>
