<div class="service" [@fade]="true">
  <section class="dark fixed fullHeight hero instructionalDesign">
    <div class="overlay"></div>

    <h1>Engaging Instructional Design
      <br><span class="subhead">Activating minds and accelerating performance through inspired corporate learning&nbsp;experiences.</span></h1>
  </section>

  <scroll-arrow></scroll-arrow>

  <section class="dark py-5">
    <div class="container">
      <h4 class="text-center">Designing engaging learning experiences is the heartbeat of autom&auml;tik. Our team of skilled instructional designers blend formal instructional design fundamentals with &ldquo;beyond the box&rdquo; creativity to deliver course designs that boost learning retention and on-the-job performance. Have a look at some of the areas where we have considerable&nbsp;expertise...</h4>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Workshop Design / Course&nbsp;&ldquo;Makeovers&rdquo;</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/instructional-design-workshop-design-course-makeovers.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Do you have a course or workshop that needs to be updated or revitalized? If so, we need to talk. Here&rsquo;s our promise: we&rsquo;ll invest the time to fully understand your objectives, agree on an overall scope, and thoroughly review your current content. Then, we&rsquo;ll come to the table with a detailed plan and an &ldquo;all in&rdquo; budget that won&rsquo;t nickel-and-dime&nbsp;you.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Automotive Sales &amp; Service&nbsp;Training</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/instructional-design-automotive-training.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>autom&auml;tik specializes in designing consultative sales training for the automotive industry. Our instructional design team blends real-world automotive industry sales and sales management experience with formal training expertise. This combination results in content that makes an immediate difference in your sales team&rsquo;s ability to build credibility, grow sales volume, and increase your sales satisfaction&nbsp;scores.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>E-Learning</h2>

      <div class="row">
        <div class="col-12 col-md-7 order-md-last">
          <div class="imageBox" [style.backgroundImage]="'url(https://images.unsplash.com/photo-1531539648265-33e27dc578c1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9f4b83c5071710f94e40bf585ce3edac&auto=format&fit=crop&w=1548&q=80)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Let our expert digital design team bring your next e-learning project to life. We apply the same interactive, brain-friendly learning principals to the digital world, producing content that is fast-paced, beautiful, and incredibly cost efficient. Click here for a <a href="https://assets.automatik9dots.com/wbt" target="_blank">short&nbsp;demo&nbsp;reel</a>.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Presentation Design</h2>

      <div class="row">
        <div class="col-12 col-md-7">
          <div class="imageBox" [style.backgroundImage]="'url(https://assets.automatik9dots.com/images/instructional-design-presentation-design.jpg)'"></div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <p>Did you know that humans process images 60,000 times faster than words? Translation: If your presentation needs to inspire action or ensure learning retention, it better be extremely visual... and this is something we do extremely well. Our editorial, graphics, and video team will work together to tell your story with stunning graphics, purposeful animation, and &ldquo;on point&rdquo;&nbsp;typography.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="dark fixed hero instructionalDesign">
    <div class="overlay"></div>

    <div class="container">
      <h2>Why autom&auml;tik?</h2>
    </div>

    <app-carousel [slides]="slides"></app-carousel>
  </section>
</div>
