<section class="tileSection" [@fade]="true">
  <div class="container" *ngIf="loading && !error.length">
    <mat-spinner class="mx-auto my-5"></mat-spinner>
  </div>

  <div class="filters mobile">
    <mat-expansion-panel [expanded]="filterOpen" (opened)="openPanel()" (closed)="closePanel()">
      <mat-expansion-panel-header>
        <h1>Portfolio</h1>
      </mat-expansion-panel-header>

      <div class="inputGroup">
        <label for="search">
          <fa-icon [icon]="['fas', 'search']" size="lg" *ngIf="!filter.length"></fa-icon>
          <fa-icon [icon]="['fas', 'times']" size="lg" *ngIf="filter.length" (click)="clearFilter()"></fa-icon>
        </label>
        <input type="text" class="form-control" id="search" name="search" #search="ngModel" autocomplete="off" [(ngModel)]="filter" (ngModelChange)="updateFilter()">
      </div>

      <h4>Categories</h4>

      <ul class="categoryList" [@fade]="true" *ngIf="!loading">
        <li *ngFor="let cat of categories"><a [class.active]="activeCat === cat" (click)="selectCategory(cat)">{{ cat }}</a></li>
        <li><a (click)="selectCategory()">View All</a></li>
      </ul>
    </mat-expansion-panel>
  </div>

  <div class="filters" #sidebar>
    <h1>Portfolio</h1>

    <div class="inputGroup">
      <label for="search">
        <fa-icon [icon]="['fas', 'search']" size="lg" *ngIf="!filter.length"></fa-icon>
        <fa-icon [icon]="['fas', 'times']" size="lg" *ngIf="filter.length" (click)="clearFilter()"></fa-icon>
      </label>
      <input type="text" class="form-control" id="search" name="search" #search="ngModel" autocomplete="off" [(ngModel)]="filter" (ngModelChange)="updateFilter()">
    </div>

    <h4>Categories</h4>

    <ul class="categoryList" [@fade]="true" *ngIf="!loading">
      <li *ngFor="let cat of categories"><a [class.active]="activeCat === cat" (click)="selectCategory(cat)">{{ cat }}</a></li>
      <li><a (click)="selectCategory()">View All</a></li>
    </ul>
  </div>

  <div class="tileBox" [class.on]="!loading" #tileBox>
    <div class="tile" [@fade]="true" *ngFor="let project of projects" [class.hovered]="hovered === project._id" (mouseenter)="setHover(project._id)" (mouseleave)="setHover('')" routerLink="/portfolio/{{ project.slug }}" #tiles>
      <img [src]="getImagePath(project.title_image_sm)" [alt]="getImageAlt(project.title_image_sm)">

      <div class="overlay"></div>

      <div class="tileInfo">
        <h2>{{ project.title }}</h2>

        <p [@topDown]="true" *ngIf="hovered === project._id">{{ project.headline }}</p>
      </div>
    </div>

    <div class="text-center" [@topDown]="true" *ngIf="error.length">
      <p>{{ error }}</p>
    </div>
  </div>
</section>
