<div class="project" [@fade]="true" #container>
  <section *ngIf="loading && !error.length">
    <div class="container py-5">
      <mat-spinner class="mx-auto my-5"></mat-spinner>
    </div>
  </section>

  <div [@fade]="true" *ngIf="!loading && !error.length">
    <section class="fullHeight hero">
      <parallax-bg [images]="projectImages"></parallax-bg>

      <div class="overlay"></div>

      <h3 class="headingBar">{{ project.category }}</h3>

      <div class="title">
        <h1>{{ project.title }}</h1>
      </div>
    </section>

    <scroll-arrow></scroll-arrow>

    <section class="content imgArrow">
      <div class="container">
        <h2>{{ project.headline }}</h2>

        <div class="projectLogo" *ngIf="project.logo">
          <img [src]="project.logo" [alt]="getImageAlt(project.logo)">
        </div>

        <p>{{ project.copy }}</p>

        <img class="featuredImg" [src]="project.featured_image" [alt]="getImageAlt(project.featured_image)" width="100%">

        <h3 class="headingBar">Highlights</h3>
      </div>
    </section>

    <section class="highlights">
      <div class="container">
        <ul>
          <li *ngFor="let highlight of project.highlights">{{ highlight }}</li>
        </ul>
      </div>
    </section>

    <section class="gallery">
      <div class="container">
        <img *ngFor="let image of project.images" [src]="image" [alt]="getImageAlt(image)" width="100%">
      </div>
    </section>
  </div>

  <section [@topDown]="true" *ngIf="error.length">
    <div class="container my-5 text-center">
      <p>{{ error }}</p>
    </div>
  </section>
</div>
